:root {
  --color-one: hsla(216, 69%, 59%, 0.75);
  --color-two: hsla(229, 72%, 86%, 1);
  --dark-text: #{$dark};
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myNav {
  background-color: var(--color-one);
}

.navSearchBar {
  background-color: var(--color-two) !important;
}
.navSearchBar::placeholder {
  color: var(--dark-text) !important;
}

.spacer {
  width: 5% !important;
}

.dropdown-menu {
  transform: translateX(-1vw);
  background-color: var(--color-two) !important;
}
.dropdown-toggle::after {
  margin-left: 0.275em !important;
}
